<div class="well" id="foodData">
      <input type="text" data-ng-model="filter.foodItem"/><br /><br />
      <!-- <button data-ng-click="addMacro()" class="btn btn primary">Add</button><br /><br /> -->


 <div>
      <button id="foodSubmit" type="submit" class="btn btn-secondary" data-ng-click="macroForm()">Submit</button><br /><br />
 </div>


<form action="/foodform" method="post" id="foodForm">
      <table class="table table-bordered table-hover">
      <tr class="table_header">
          <!-- <th>Add</th> -->
          <th>Select</th>
          <th>Name of Food</th>
          <th>Brand Name</th>
          <th>Serving Size</th>
          <th>Total Calories</th>
          <th>Fat(g)</th>
          <th>Carbs(g)</th>
          <th>Protein(g)</th>
          <th>Total (g)[macros]</th>
          
      </tr>        
      <tr data-ng-repeat = "foodItem in foodItems | filter:filter.foodItem | orderBy: 'foodItem.food_name'">
          
          <td><input type="checkbox" checklist-model="user.foodItems" checklist-value="foodItem" class="btn btn-primary"/></td>

          <td data-ng-true-value="{{ foodItem.food_name }}" data-ng-model=" foodItem.food_name "> {{ foodItem.food_name }} </td>
          <td data-ng-true-value="{{ foodItem.brand }}" data-ng-model=" foodItem.food_name ">{{ foodItem.brand }}</td>
          <td data-ng-true-value="{{ foodItem.serving_size }}" data-ng-model=" foodItem.food_name ">{{ foodItem.serving_size }}</td>
          <td data-ng-true-value="{{ foodItem.total_calories }}" data-ng-model=" foodItem.food_name ">{{ foodItem.total_calories }}</td>
          <td data-ng-true-value="{{ foodItem.fat_grams }}" data-ng-model=" foodItem.food_name ">{{ foodItem.fat_grams }}</td>
          <td data-ng-true-value="{{ foodItem.carbohydrate_grams }}" data-ng-model=" foodItem.food_name ">{{ foodItem.carbohydrate_grams }}</td>
          <td data-ng-true-value="{{ foodItem.protein_grams }}" data-ng-model=" foodItem.food_name ">{{ foodItem.protein_grams }}</td>
          <td data-ng-true-value="{{ foodItem.total_grams }}" data-ng-model=" foodItem.food_name ">{{ foodItem.total_grams }}</td>


      </tr>
      </table>
    </form>
    </div>
   </div> 