<div class="well container-fluid" data-ng-hide="IsHidden">

      <!-- <button data-ng-click="addMacro()" class="btn btn primary">Add</button><br /><br /> -->
      <li data-ng-model = "macros" data-ng-repeat = "macro in macros | orderBy: 'macro'">
  
      <input class="macroDataName" type="text" data-ng-model ="macro.food_name" ></input><br />
      <input class="macroData" type="text" data-ng-model ="macro.total_calories" ></input>
      <input class="macroData" type="text" data-ng-model ="macro.fat_grams" ></input>
      <input class="macroData" type="text" data-ng-model ="macro.carbohydrate_grams" ></input>
      <input class="macroData" type="text" data-ng-model ="macro.protein_grams" ></input>
      <input class="macroData" type="text" data-ng-model ="macro.total_grams" ></input>

      </li>
</div>
 <div class="well container-fluid">
<br />
Search Bar:<input type="text" data-ng-model="filter.foodItem"/>
<button type="submit" data-ng-click="addMacro()" ng-disabled="isDisabled" class="btn btn primary">Add</button>
<button type="submit" data-ng-click="clearMacro()" class="btn btn primary">Clear</button><br />
<p class = "instruct">Clear meal you're creating to begin again</p><br /><br />
 </div>

 <div class="well container-fluid col-xs-12 col-md-offset-3 col-md-6" id="foodData">
 
     <button type="submit" data-ng-click="mealCalc()" class="btn btn primary">calc</button>
     <button type="submit" data-ng-click="checkAll()" class="btn btn primary">Check All</button>
     <button type="submit" data-ng-click="uncheckAll()" class="btn btn primary">Uncheck All</button>
  </div>
  <div  class="col-xs-12 col-md-offset-3 col-md-6">
     <table class="table table-bordered table-hover">
       <thead>
         <tr class="table_header">
          <!-- <th>Add</th> -->
          <th>Select</th>
          <th>Name of Food</th>
          <th>Brand Name</th>
          <th># of Servings</th>
<!--           <th>Serving Size</th> -->
          <!-- <th>Total Calories</th> -->
<!--           <th>Fat(g)</th>
          <th>Carbs(g)</th>
          <th>Protein(g)</th> -->
          <!-- <th>Total(g)</th> -->
          
         </tr>
       </thead>
       <tbody>           
         <tr data-ng-repeat = "foodItem in foodItems | filter:filter.foodItem | orderBy: 'foodItem'">
          
          <td><input type="checkbox" checklist-model="user.foodItems" checklist-value="foodItem" class="btn btn-primary"/></td>

          <td data-ng-true-value="{{ foodItem.food_name }}" data-ng-model=" foodItem.food_name "> {{ foodItem.food_name }} </td>
          <td data-ng-true-value="{{ foodItem.brand }}" data-ng-model=" foodItem.brand ">{{ foodItem.brand }}</td>
          <td><input class="foodData" type="number" data-ng-false-value="1" data-ng-model="servingNum"></input></td>
         </tr>
       </tbody>
     </table>
    </div>
  </div>
<!--           <td data-ng-true-value="{{ foodItem.total_calories }}" data-ng-model=" foodItem.total_calories ">{{ foodItem.total_calories }}</td> -->

    <!--           <td data-ng-true-value="{{ foodItem.serving_size }}" data-ng-model=" foodItem.serving_size ">{{ foodItem.serving_size }}</td> -->      
<!--           <td data-ng-true-value="{{ foodItem.fat_grams }}" data-ng-model=" foodItem.fat_grams ">{{ foodItem.fat_grams }}</td>
          <td data-ng-true-value="{{ foodItem.carbohydrate_grams }}" data-ng-model=" foodItem.carbohydrate_grams ">{{ foodItem.carbohydrate_grams }}</td>
          <td data-ng-true-value="{{ foodItem.protein_grams }}" data-ng-model=" foodItem.protein_grams ">{{ foodItem.protein_grams }}</td> -->
<!--           <td data-ng-true-value="{{ foodItem.total_grams }}" data-ng-model=" foodItem.total_grams ">{{ foodItem.total_grams }}</td> -->



 