
<!-- buttons to hide/unhide forms & data -->
<div class="well container-fluid">

          <a ui-sref="nutrition.foodprofile" class="btn btn-md">Create Food</a>
 

          <a ui-sref="nutrition.foodlist" class="btn btn-md">All Foods</a>
      
          <a ui-sref="nutrition.meals" class="btn btn-md">Create meal</a>
         

<!--           <button type="button" class="btn btn-md" id="MealBtn" data-ng-click="ShowHideMeal()">Create Meal</button><br /> -->

 </div>     
<div class="well container-fluid">

<p class = "instruct">Click on <strong>create food</strong> to enter a new food profile.</p><br />
<p class = "instruct">Click on <strong>all foods</strong> to view all of your food items in the database, and to create a meal to be evaluated.</p><br />
<p class = "instruct">Click on <strong>create meal</strong> to save the meal you created in the database. This way the next time you can pull meals from the database for even faster calculations.</p><br />
</div>
 <div data-ui-view="FoodData"></div>
