
<!-- buttons to hide/unhide forms & data -->
<div class="well" class="col-sm-12">
          <a ui-sref="nutrition.foodprofile" class="btn btn-md">Create Food</a>
          <a ui-sref="nutrition.foodlist" class="btn btn-md">All Foods</a>
          <a ui-sref="nutrition.meals" class="btn btn-md">Create meal</a>

<!--           <button type="button" class="btn btn-md" id="MealBtn" data-ng-click="ShowHideMeal()">Create Meal</button><br /> -->

 </div>     

{{ winYa }}
{{ UserName }}

      <div data-ui-view="FoodData"></div>
