<!DOCTYPE html>
<html>
  <head>  
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">

      <div>
      <div class="jumbotron">
        <div class="container">
          <h1>My e-gym</h1>
           <% if (!isAuthenticated) { %>
            <a href="/">Log in here</a>
            <% } else { %>
              Hello, <%= user.username %>
           <% } %>
        </div>  
      </div>
      </div> 
      <div id="workSearch" class="well" hidden>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input id="workSearch" type="text" class="form-control" placeholder="Search my e-gym">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
               <p><strong><%= description %></strong></p>
      </div>
      <div class="well">
        <button type="button" class="btn btn-default" id="btnworkpos">Create Workout</button>
        <button type="button" class="btn btn-default" id="btnworkget">Database</button> 
      </div>
        <% include ./partials/exercise_table.ejs %> 
        <% include ./partials/exercise.ejs %>
      <script type="text/javascript" src="./javascripts/bundle3.js"></script>
  </body>
</html>