<!DOCTYPE html>
<html data-ng-app="">
  <head>  
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">
       <div>
      <div class="jumbotron">
        <div class="container">
          <h1>My e-tools</h1>
          <h2>for Health</h2>
        </div>  
      </div>
      </div> 
      <div class="well container-fluid">
      <p class = "instruct">Click on the 'My e-tools' dropdown on the navigation bar to begin building your e-fridge and e-gym</p>
      </div>
      <div class="well container-fluid">
            <div class="typingWell"><br><br>
      Daily Calories: <input type="text" data-ng-model="DailyCal" />  <span> {{ DailyCal }} </span><br>
      Fat (g): <input type="text" data-ng-model="Fat" />  <span> {{ Fat }} </span><br> 
      Carbs (g): <input type="text" data-ng-model="Carbs" />  <span> {{ Carbs }} </span><br> 
      Protein (g): <input type="text" data-ng-model="Protein" />  <span> {{ Protein }} </span><br> 
      Macro Ratio: <input type="text" data-ng-model="Macro" />  <span> {{ Macro }} </span><br> 
      Message: <input type="text" data-ng-model="Macro" />  <span> {{ Message }} </span><br> 
      </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"</script>
<script src="javascripts/controllers.js"></script>
<script src="javascripts/app.js"></script>

  </body>
</html>


 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"</script>
 <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-1.3.3.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>     
<script src="javascripts/app.js"></script>
  </body>
</html>