<!DOCTYPE html>
<html>
  <head>  
    <% include ./partials/head %>
  </head> 
  <header>
    <% include ./partials/header %>                
  </header>
  <body class="container-fluid" class="col-md-12">
       <div>
      <div class="jumbotron">
        <div class="container">
          <h1>My e-tools</h1>
          <h2>for Health</h2>
          <% if (!isAuthenticated) { %>
            <a href="/login">Log in here</a>
            <% } else { %>
              Hello, <%= user.username %>
           <% } %>
        </div>  
      </div>
      </div> 
      <div class="well container-fluid">
      <p class = "instruct">Click on the 'My e-tools' dropdown on the navigation bar to begin building your e-fridge and e-gym</p>
      </div>
  </body>
</html>
