<!DOCTYPE html>
<html data-ng-app="myApp">
  <head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<base href="/">
  </head> 

  <body>

      <div data-ui-view="nav"></div>
      <div data-ui-view="btnpanel"></div>
      <div data-ui-view="form"></div>
      
<!--       <div data-ui-view=""></div> -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-1.3.3.min.js"></script>
<script type="text/javascript" src="../app.js"></script>
<script type="text/javascript" src="../javascripts/controllers.js"></script>
<script type="text/javascript" src="../javascripts/services.js"></script>
<script type="text/javascript" src="../javascripts/interceptors.js"></script>

  </body>
<% include ./partials/footer.html %>
</html>
