<!DOCTYPE html>
<html ng-app>
<head ng-include="'templates/head.html'"></head>
<header ng-include="'templates/header.html'"></header>
 <body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"</script> 
<script src="javascripts/app.js"></script>
<script src="javascripts/controllers.js"></script>

<script src="javascripts/ui-bootstrap.js"></script>
  </body>
</html>
