
//LESS variables

@plainColor: white;
@prime_color: #efefc8;
@main_color: #6a877b;
@translucent: rgba(239,239,239,0.3);
@accent_color: #7f4659;

//MIXINS [coming in future progression]

/**********************************************
				Footer
**********************************************/
@Iworked: white;