/**********************************************
				General Styles
**********************************************/
.well {
  background-color: rgba(239, 239, 239, 0.3);
}
html {
  height: 100%;
}
body {
  background-image: url("../images/healthy.jpg");
  z-index: -3;
  height: 100vh;
  background-size: cover;
}
.content {
  /**	background-color: @main_color; **/
}
p.instruct {
  background-color: white;
  padding: 10px;
  display: inline-block;
}
/**********************************************
					Nav Bar
**********************************************/
.brandName strong {
  color: black;
  font-size: 1.5em;
}
.navText p {
  color: black;
  text-align: center;
}
.navName p {
  color: black;
  font-size: 0.8em;
}
#collapseBtn {
  background-color: #6a877b;
}
.nav,
.navbar-nav,
.navbar-right,
.navbar-left li a {
  color: rbga(0, 0, 0, 1);
}
#email,
#password {
  background-color: #efefc8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
}
#userName:focus,
#userPass:focus {
  border: 2px solid #7f4659;
}
a,
li,
ul {
  color: black;
}
/**********************************************
					Buttons 
**********************************************/
.btn {
  background-color: #efefc8;
  color: black;
}
.btn:active,
.btn-lg:active,
.btn-md:active,
.btn-primary:active,
.btn:focus,
.btn:hover {
  background-color: #7f4659;
}
.btn:hover {
  border: 2px solid #efefc8;
}
#foodSubmit,
#registerSubmit {
  border: 2px solid #7f4659;
}
#foodSubmit:hover #registerSubmit:hover {
  background-color: #6a877b;
  border: 2px solid #7f4659;
}
#response {
  background-color: white;
}
/**********************************************
				Jumbotron 
**********************************************/
.jumbotron {
  position: relative;
  z-index: 3;
  background: url("../images/avocado.png") center center;
  background-color: rgba(239, 239, 239, 0.3);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
/**********************************************
					Table 
**********************************************/
tbody {
  background-color: white;
}
th {
  text-align: center;
}
tr {
  border: 5px solid #efefc8;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #6a877b;
}
tr:hover td {
  background-color: #efefc8;
}
.testhide {
  display: none;
}
/**********************************************
			General Form Input Styles 
**********************************************/
.textInput {
  width: 50%;
}
.numInput {
  width: 25%;
}
/**********************************************
	Form to create food profile 
**********************************************/
#foodForm,
#registerForm {
  background-color: #efefc8;
  padding: 15px;
}
div.row {
  padding: 5px;
}
/**********************************************
				Angular Script
**********************************************/
.typingWell {
  background-color: #efefc8;
  height: 100%;
  padding: 10px;
}
/**********************************************
				Inputs
**********************************************/
.macroData {
  width: 15%;
}
.foodData {
  width: 5em;
  padding: 0px;
  margin: 0px;
}
/**********************************************
				Media Queries
**********************************************/
@media only screen and (min-width: 1200px) {
  .macroData {
    width: 5%;
  }
  .macroDataName {
    width: 7%;
  }
}
@media only screen and (min-width: 550px) {
  .navName p {
    display: inline-block;
  }
}
/**********************************************
				Footer
**********************************************/
.clearfooter {
  height: 300px;
}
#footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  background-color: #6a877b;
}
.social-icon {
  height: auto;
  width: 5%;
}
@media only screen and (max-width: 506px) {
  .social-icon {
    height: auto;
    width: 7%;
  }
  .clearfooter {
    height: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .social-icon {
    height: auto;
    width: 7%;
  }
  .clearfooter {
    height: 125px;
  }
}
