<!DOCTYPE html>
  <html data-ng-app="myApp">
    <head> 
     <% include ./modules/common/partials/head.html %>
    </head>
      <body class="content">
        <header>
            <div data-ui-view="nav"></div>
        </header>  
          <div data-ui-view="btnpanel"></div>
          <div data-ui-view="form"></div>
          <% include ./modules/common/partials/js_scripts.html %> 
      </body>
      <div class="clearfooter"></div>
          <div class="footer"
          <div data-ui-view="footer"></div>
        </div>
</html>
