<!DOCTYPE html>
  <html data-ng-app="myApp">
    <head> 
     <% include ./common/partials/head.html %>
    </head>
    <body class="col-md-12">
      <div data-ui-view="nav"></div>
      <div data-ui-view="btnpanel"></div>
      <div data-ui-view="form"></div>
      <% include ./common/partials/js_scripts.html %>   
      <% include ./common/partials/footer.html %>
  </body>
</html>
