<!-- <div class="well" data-ng-hide="isHiddenb">
          <button type="button" class="btn btn-md" id="btntest3" data-ng-click="ShowHideb()">Create Food</button>
          <button type="button" class="btn btn-md" id="btntest3" data-ng-click="ShowHide()">Database</button>
          <button type="button" class="btn btn-md" id="addFood" data-ng-click="ShowHide()">Add Food</button>
      </div>  -->

<!-- <div class="well">
          <button type="button" class="btn btn-md" id="btntest3" data-ng-click="ShowHide()">Create Food</button>
          <button type="button" class="btn btn-md" id="btntest3" data-ng-click="ShowHide2()">Database</button>
          <button type="button" class="btn btn-md" id="addFood" data-ng-click="ShowHide()">Add Food</button>
      </div> -->
<!-- <div class="well" data-ng-hide="IsHidden">
        <form role="search">
           <input type = "text" data-ng-model="filter.name" />
 		 <ul><li data-ng-repeat="macro in macros | filter:filter.name | orderBy: 'macro'">{{ macro.name }} : {{macro.amount}}</li></ul>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
 New Macro Name:<br />
  <input type = "text" data-ng-model="newMacro.name" />
  <br />
  New Macro Amount:<br />
  <input type = "text" data-ng-model="newMacro.amount" />
 <button class="btn btn-primary" data-ng-click="addMacro()">New Macro</button>

      </div> -->
