<div class="well" class="col-sm-12">
          <button type="button" class="btn btn-md" id="dailyBtn" data-ng-click="ShowHideDaily()">Daily</button>
<!--          <a ui-sref="home">home</a> 
         <a ui-sref="efridge">Efridge</a>
         <a ui-sref="egym">Egym</a> -->
          
 </div>  

 <div class="well" data-ng-hide="IsHiddenDaily">
<form>
  <div class="form-group">
    <label class="form-control-label" for="dailyCal">Daily Calories</label>
    <input type="number" step="any" min=”0″ name="dailyCal" class="form-control" data-ng-model="daily.cal"/>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="dailyFat">Fat</label>
    <input type="number" step="any" min=”0″ name="dailyFat" class="form-control" data-ng-model="daily.fat"/>
    <label class="form-control-label" for="dailyCarb">Carb</label>
    <input type="number" step="any" min=”0″ name="dailyCarb" class="form-control" data-ng-model="daily.carb"/>
    <label class="form-control-label" for="dailyProtein">Protein</label>
    <input type="number" step="any" min=”0″ name="dailyProtein" class="form-control" data-ng-model="daily.protein"/>
  </div>
     <button data-ng-click="addDaily()" class="btn btn primary">Add</button> 
</form>
</div><br /><br />