
<!-- buttons to hide/unhide forms & data -->
<div class="well" class="col-sm-12">
          <button type="button" class="btn btn-md" id="foodFormBtn" data-ng-click="ShowHideForm()">Create Food</button>
          <button type="button" class="btn btn-md" id="foodDbBtn" data-ng-click="ShowHide()">All Foods</button>
          <button type="button" class="btn btn-md" id="MealBtn" data-ng-click="ShowHideMeal()">Create Meal</button><br />
 </div>     



<!-- shows db foods, searchbox to search foods, checkbox that is used in the create-a-meal section above -->

<div class="well" id="foodData" data-ng-hide="IsHidden">
      <input type="text" data-ng-model="filter.foodItem"/>
      <button data-ng-click="addMeal()" class="btn btn primary">Add</button><br /><br />

      <table class="table table-bordered table-hover">
      <tr class="table_header">
          <!-- <th>Add</th> -->
          <th>Select</th>
          <th>Name of Food</th>
          <th>Brand Name</th>
          <th>Serving Size</th>
          <th>Total Calories</th>
          <th>Fat(g)</th>
          <th>Carbs(g)</th>
          <th>Protein(g)</th>
          <th>Total (g)[macros]</th>
          
      </tr>        
      <tr data-ng-repeat = "foodItem in foodItems | filter:filter.foodItem | orderBy: 'foodItem'">
          
          <td><input type="checkbox" data-ng-model="checkModel.value1" data-ng-true-value="{{foodItem}}" data-ng-false-value="'0'" class="btn btn-primary"/></td>
          <td> {{ foodItem.food_name }} </td>
          <td>{{ foodItem.brand }}</td>
          <td>{{ foodItem.serving_size }}</td>
          <td>{{ foodItem.total_calories }}</td>
          <td>{{ foodItem.fat_grams }}</td>
          <td>{{ foodItem.carbohydrate_grams }}</td>
          <td>{{ foodItem.protein_grams }}</td>
          <td>{{ foodItem.total_grams }}</td>

      </tr>
      </table>

   </div> 


<!-- input form for food profile / adds foods to db-->
<div class="well" id="foodProfile" data-ng-hide="IsHiddenForm">
  <form action="/foodform" method="post" id="foodForm">
  <h2>Create a new food profile</h2>
    <div class="form-group row">
       <label for="food_name" class="col-sm-2 form-control-label">Food Name</label>
        <div class="col-sm-10">
           <input type="text" class="form-control textInput" name="food_name" id="food_name" placeholder="Enter name of food here. E.g. 'Avocado, small'"></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="brand" class="col-sm-2 form-control-label">Brand</label>
        <div class="col-sm-10">
           <input type="text" class="form-control textInput" id="brand" name="brand" placeholder="--"></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="serving_size" class="col-sm-2 form-control-label">Serving Size</label>
        <div class="col-sm-10">
        <span>Enter the serving size E.g. 1 or 2.5.</span>
           <input type="text" class="form-control numInput" name="serving_size" id="serving_size" placeholder="0"></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="total_calories" class="col-sm-2 form-control-label">Total Calories</label>
        <div class="col-sm-10">
        <span>Enter the total calories..</span>
           <input type="number" class="form-control numInput" name="total_calories" id="total_calories" placeholder="0" step="any" min=”0″></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="fat_grams" class="col-sm-2 form-control-label">Fat(g)</label>
        <div class="col-sm-10">
        <span>Enter the total fat grams.</span>
           <input type="number" class="form-control numInput" name="fat_grams" id="fat_grams" placeholder="0" step="any" min=”0″></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="carbohydrate_grams" class="col-sm-2 form-control-label">Carbohydrate(g)</label>
        <div class="col-sm-10">
        <span>Enter the total carbohydrate grams.</span>
           <input type="number" class="form-control numInput" name="carbohydrate_grams" id="carbohydrate_grams" placeholder="0" step="any" min=”0″></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="protein_grams" class="col-sm-2 form-control-label">Protein(g)</label>
        <div class="col-sm-10">
        <span>Enter the total protein grams.</span>
           <input type="number" class="form-control numInput" name="protein_grams" id="protein_grams" placeholder="0" step="any" min=”0″></input>
        </div>
    </div>
    <div class="form-group row">
       <label for="total_grams" class="col-sm-2 form-control-label">Total Macros(g)</label>
        <div class="col-sm-10">
        <span>Enter the total macro grams.</span>
           <input type="number" class="form-control numInput" name="total_grams" id="total_grams" placeholder="0" step="any" min=”0″></input>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="foodSubmit" type="submit" class="btn btn-secondary">Submit</button>
          </div>
    </div>
  </form>
</div>   

<!-- Area for meal building -->
<div class="well" data-ng-hide="IsHiddenMeal">

<!-- Building blocks for the create-a-meal section -->
<div class="typingWell">
  <ul>
      <li data-ng-repeat = "meal in meals | filter:filter.meal | orderBy: 'meal'">Name: {{ meal.food_name }} <br />Total Cal: {{ meal.total_calories}} Fat: {{meal.fat_grams}}</li>
  </ul>
</div>   
</div>
<div class="well" data-ng-hide="IsHiddenMeal">
<form>
  <div class="form-group">
    <label class="form-control-label" for="mealFoodName">Food Name</label>
    <input type="text" name="mealFoodName" class="form-control" data-ng-model="checkModel.value1.food_name"/>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="mealTotalCal">Total Cal</label>
    <input type="text" name="mealTotalCal" class="form-control" data-ng-model="checkModel.value1.total_calories"/>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="mealFatGrams">Fat</label>
    <input type="text" name="mealFatGrams" class="form-control" data-ng-model="checkModel.value1.fat_grams"/>
  </div>

      <button data-ng-click="addMeal()" class="btn btn primary">Add</button> 

</form>

</div><br /><br />