

<a href="https://twitter.com/natasha_marie_o" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @natasha_marie_o</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<a href="https://github.com/natasha08"><img src="../images/Octocat.png" alt="Github Logo" class="social-icon"></a>
<p>&copy; 2015-2016 Natasha Osborne.</p> 
<a href="privacy.html">Privacy Policy</a>




<!-- <a href="http://facebook.com/greek_esposa"><img src="" alt="Facebook Logo" class="social-icon"></a> -->


